/*これはコメントそうですコメントだとも*/

h1{
    color: blueviolet;
    font-size: 100px;
    font-family: "Courier New";
    background-color: chartreuse;
}
/*フォント名にスペース入ってる時はダブルクオーテンションで囲む*/
h2{
    font-family: serif;
}
img{
    width: 500px;
    height: 200;
}
.test{
    color: aqua;
}