/*これはコメントそうですコメントだとも*/

h1{
    color: blueviolet;
    font-size: 100px;
    font-family: "Courier New";
    background-color: chartreuse;
}
.amogus{
  background:background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.about{
    font-weight: bold;
}
/*フォント名にスペース入ってる時はダブルクオーテンションで囲む*/
h2{
    font-family: serif;
}
img{
    width: 500px;
    height: 200;
}
.test{
    border-radius: 38px;
    background: linear-gradient(145deg, #00e6b8, #00ffda);
    box-shadow:  50px 50px 24px #00997a,
             -50px -50px 24px #00ffff;
    color: aqua;
}
body{
  background-image: url("https://osu.ppy.sh/images/headers/profile-covers/c7.jpg");
  background-size: cover;
}
